<!DOCTYPE HTML>
<html>
<head>
    <title>Buy_shop | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Buy_shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Content/Layout/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/Content/Layout/css/jquery-ui.css" rel="stylesheet" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="~/Content/Layout/css/style.css" rel='stylesheet' type='text/css' />
    <script src="~/Content/Layout/js/simpleCart.min.js"></script>
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Content/Layout/js/jquery-1.11.1.min.js"></script>
    <script src="/Content/Layout/js/jquery-ui.js"></script>
    <!-- start menu -->
    <link href="~/Content/Layout/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Content/Layout/js/megamenu.js"></script>
    <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
</head>
<body>
    <div class="header_top">
        <div class="container">
            <div class="cssmenu">
                @*@{Html.RenderPartial("HeaderLogin");}*@
                <ul>
                    @if (Session["userId"] == null)
                    {
                        <li class="active"><a href="/home/login">Login</a></li>
                    }
                    else
                    {
                        <li class="active"><a href="#">My Accout</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="wrap-box"></div>
    <div class="header_bottom men_border">
        <div class="container">
            <div class="col-xs-8 header-bottom-left">
                <div class="col-xs-2 logo">
                    <h1><a href="/"><span>Buy</span>shop</a></h1>
                </div>
                <div class="col-xs-6 menu">
                    <ul class="megamenu skyblue">
                        <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                        <li class="grid">
                            @Html.ActionLink("Sản phẩm", "Index", "Product")
                            <div class="megapanel">
                                <div class="row">
                                    <div class="col1">
                                        <div class="h_nav">
                                            <ul>
                                                <h4>Category</h4>
                                                @Html.Action("ViewCategory", "Category")
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <ul>
                                                <h4>Produce</h4>
                                                @Html.Action("ViewProduce", "Produce")
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>@Html.ActionLink("Hướng dẫn", "Manual", "Home")</li>
                        <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-4 header-bottom-right">
                @{ Html.RenderAction("HeaderCart", "Home");}
                <form action="/Product/Search" method="get">
                    <div class="search">
                        <input type="text" id="txtKeyword" name="keyword" class="textbox" placeholder="Nhập từ khoá">
                        <input type="submit" value="">
                        <div id="response"> </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
        <script src="/Content/Layout/js/controller/baseController.js"></script>
        @RenderSection("jsFooter", required: false);
    </div>
</body>
</html>
