<!DOCTYPE HTML>
<html>
<head>
    <title>Buy_shop | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Buy_shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Content/Layout/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="~/Content/Layout/css/style.css" rel='stylesheet' type='text/css' />
    <script src="~/Content/Layout/js/simpleCart.min.js"></script>
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Content/Layout/js/jquery-1.11.1.min.js"></script>
    <!-- start menu -->
    <link href="~/Content/Layout/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Content/Layout/js/megamenu.js"></script>
    <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
</head>
<body>
    <div class="header_top">
        <div class="container">
            <div class="cssmenu">
                <ul>
                    <li class="active"><a href="login.html">My Account</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrap-box"></div>
    <div class="header_bottom men_border">
        <div class="container">
            <div class="col-xs-8 header-bottom-left">
                <div class="col-xs-2 logo">
                    <h1><a href="#"><span>Buy</span>shop</a></h1>
                </div>
                <div class="col-xs-6 menu">
                    <ul class="megamenu skyblue">
                        <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                        <li class="grid">
                            @Html.ActionLink("Sản phẩm", "Index", "Product")
                            <div class="megapanel">
                                <div class="row">
                                    <div class="col1">
                                        <div class="h_nav">
                                            <ul>
                                                <h4>Category</h4>
                                                @Html.Action("ViewCategory", "Category")
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <ul>
                                                <h4>Produce</h4>
                                                @Html.Action("ViewProduce", "Produce")
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>@Html.ActionLink("Hướng dẫn", "Manual", "Home")</li>
                        <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-4 header-bottom-right">
                <div class="box_1-cart">
                    <div class="box_11">
                        <a href="checkout.html">
                            <h4><p>Cart: <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</p><img src="images/bag.png" alt="" /><div class="clearfix"> </div></h4>
                        </a>
                    </div>
                    <p class="empty"><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
                    <div class="clearfix"> </div>
                </div>
                <div class="search">
                    <input type="text" name="s" class="textbox" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                    <input type="submit" value="Subscribe" id="submit" name="submit">
                    <div id="response"> </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>
