@using Badminton_Sport.Models.Data;
@using PagedList.Mvc;
@model PagedList.IPagedList<PRODUCT>
@{
    ViewBag.Title = "Search";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="women_main">
    <div class="col-md-9 w_content">
        <div class="women">
            <a href="#"><h4><span>Kết quả tìm kiếm theo "@ViewBag.KeyWord"</span> </h4></a>
            <div class="clearfix"></div>
        </div>
        <!-- grids_of_4 -->
        <div class="grids_of_4">
            @if (Model.Count == 0)
            {
                <h1>@ViewBag.NULL</h1>
            }
            <div class="row1" style="height: auto">
                @foreach (var item in Model)
                {
                    <div class="grid1_of_4 simpleCart_shelfItem">
                        <div class="content_box">
                            <a href="@Url.Action("Show", new { @productid=item.PRODUCT_ID })">
                                <div class="view view-fifth">
                                    <img src="@Url.Content("~/Content/Layout/images/" + item.IMAGES)" class="img-responsive" alt="" />
                                </div>
                            </a>
                            <h5><a href="@Url.Action("Show", new { @productid=item.PRODUCT_ID })">@item.PRODUCT_NAME</a></h5>
                            <div class="size_1">
                                <span class="item_price">@item.PRICE</span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="size_2">
                                <div class="size_2-right"><a href="/AddItem?productID=@item.PRODUCT_ID&quantity=1" class="item_add item_add1 btn_5" value="">Add</a></div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row_2">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, Page_No => Url.Action("Index", new { Page_No }))
            </div>
        </div>

        <!-- end grids_of_4 -->
    </div>
    <!-- start sidebar -->
    <div class="col-md-3">
        <div class="w_sidebar">
            <h3>filter by</h3>
            <div class="sky-form">
                <h4>catogories</h4>
                <div class="row1 scroll-pane">
                    <div class="col col-4">
                        <ul>
                            @Html.Action("ViewCategory", "Category")
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sky-form">
                <h4>produce</h4>
                <div class="row1 scroll-pane">
                    <div class="col col-4">
                        <ul>
                            @Html.Action("ViewProduce", "Produce")
                        </ul>
                    </div>
                </div>
            </div>

            <section class="sky-form">
                <h4>discount</h4>
                <div class="row1 scroll-pane">
                    <div class="col col-4">
                        <label class="radio"><input type="radio" name="radio" checked=""><i></i>60 % and above</label>
                        <label class="radio"><input type="radio" name="radio"><i></i>50 % and above</label>
                        <label class="radio"><input type="radio" name="radio"><i></i>40 % and above</label>
                    </div>
                    <div class="col col-4">
                        <label class="radio"><input type="radio" name="radio"><i></i>30 % and above</label>
                        <label class="radio"><input type="radio" name="radio"><i></i>20 % and above</label>
                        <label class="radio"><input type="radio" name="radio"><i></i>10 % and above</label>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- start content -->
    <div class="clearfix"></div>
    <!-- end content -->
</div>